{% load i18n materializecss %}

	{{ dataform.age|materializecss }}

	{{ dataform.sex|materializecss }}

	{{ dataform.is_diabetic|materializecss }}

	{{ dataform.is_hypertense|materializecss }}

	{{ dataform.is_overweight|materializecss }}

	{{ dataform.is_at_altitude|materializecss }}

	{{ dataform.is_with_other_conds|materializecss }}

	{{ dataform.rbc|materializecss }}

	{{ dataform.wbc|materializecss }}

	{{ dataform.hgb|materializecss }}

	{{ dataform.hct|materializecss }}

	{{ dataform.mcv|materializecss }}

	{{ dataform.mch|materializecss }}

	{{ dataform.mchc|materializecss }}

	{{ dataform.rdw|materializecss }}

	{{ dataform.plt|materializecss }}

	<div class="row">
		<div class="col">
		<h5 class="center-align">{% translate "(Percentages takes precedence over absolutes)" %}</h5>
		</div>
	</div>

	<div class="row">
		<div class="col s6">
			{{ dataform.neut|materializecss}}
		</div>
		<div class="col s6">
			{{ dataform.p_neut|materializecss}}
		</div>
	</div>

	<div class="row">
		<div class="col s6">
			{{ dataform.lymp|materializecss }}
		</div>
		<div class="col s6">
			{{ dataform.p_lymp|materializecss }}
		</div>
	</div>

	<div class="row">
		<div class="col s6">
			{{ dataform.mono|materializecss }}
		</div>
		<div class="col s6">
			{{ dataform.p_mono|materializecss }}
		</div>
	</div>

	<div class="row">
		<div class="col s6">
			{{ dataform.eo|materializecss }}
		</div>
		<div class="col s6">
			{{ dataform.p_eo|materializecss }}
		</div>
	</div>

	<div class="row">
		<div class="col s6">
			{{ dataform.baso|materializecss }}
		</div>
		<div class="col s6">
			{{ dataform.p_baso|materializecss }}
		</div>
	</div>
