{% extends "base/base.html" %}
{% load i18n materializecss %}


{% block content %}

	{% if not request.user.unit %}

		<h4>{% translate "A unit must be selected for a User in order to input data." %}</h4>

	{% else %}

		<h4>
			{{ request.user.unit }}
		</h4>

		<h1>{% translate "Data Input" %}</h1>

		<div class="row">
			<div class="col">
				<form action="" method="post">
					{% csrf_token %}

					{% if dataform.errors %}
					<p class="errorlist">{% translate "Errors detected in the submitted data, check below:" %}</p>
					{% endif %}

					{% include "data/form_input.html" with dataform=dataform %}

					<div class="row">
						<input type="submit" name="_addanother" value="{% translate 'Save and Add Another' %}" class="btn right blue darken-2">
						<input type="submit" name="_save" value="{% translate 'Save' %}" class="btn right blue lighten-2">
						<a href="{% url 'units:current:data' %}" class="btn red left">Cancel</a>
					</div>
				</form>
			</div>
		</div>

	{% endif %}
{% endblock content %}

{% block extra_js %}
	<script type="text/javascript">

	(function($) {

    	unit_ii = $("input[name$='unit_ii']")
    	unit_ii.focus()


	})(django.jQuery);

	</script>
{% endblock extra_js %}