{% extends "base/base.html" %}
{% load static i18n materializecss django_ai_tags %}

{% block content %}
	<h1>{% translate "COVID19 Hemogram Test Project" %}</h1>

	<div class="row">

		<div class="col m6 s12 classifier-info">
			<h2>{% translate "Current Classifier" %}</h2>
			{% if classifier %}
				<h5>{% translate "Local Classifier" %} ({{ chtuid }})</h5>
				{% with classifier.get_local_classifier as local_classifier %}
					<p><b>{% translate "Name" %}</b>: {{ local_classifier.name }}</p>
					{% if local_classifier.is_inferred %}
						{% if local_classifier.metadata %}
							{% include "base/include/node_metadata.html" with metadata=local_classifier.metadata %}
						{% endif %}
						<p><b>{% translate "Last Updated" %}</b>: {{ local_classifier.engine_object_timestamp }}</p>
					{% else %}
						{% blocktranslate trimmed asvar no_training with admin_link='<a href="/admin">/admin</a>' %}
					    	No training has been done yet. Training is done in {{ admin_link }}
						{% endblocktranslate %}
						<p>{{ no_training|safe }}</p>
					{% endif %}
				{% endwith %}
				{% if nodes %}
					<h5>{% translate "Classification Network" %}</h5>
					{% for node in nodes %}
						<h6>{{ node }}</h6>
						{% if node.metadata %}
							{% include "base/include/node_metadata.html" with metadata=node.metadata %}
						{% endif %}
					{% endfor %}
				{% endif %}
				{% if example_data %}
					<h4><strong>{% translate "EXAMPLE DATA" %}</strong></h4>
					<p>
						{% blocktranslate trimmed with data_link='<a href="/data">/data</a>' admin_link='<a href="/admin">/admin</a>' docs_link='<a href="https://covid-ht.readthedocs.io/en/latest/data/example_data.html">documentation</a>' %}
						    See {{ docs_link }} for detailed information. You can inspect how COVID19 and NO COVID19 hemograms look like in {{ data_link }}, log in with 'manager:manager' to see the data input workflow and 'staff:staff' in {{ admin_link }} to see the classifier management.
						{% endblocktranslate %}
					</p>
				{% endif %}
			{% else %}
				{% blocktranslate trimmed asvar no_cc with admin_link='<a href="/admin">/admin</a>' %}
				    No Current Classifier has been set up, it is done in {{ admin_link }}
				{% endblocktranslate %}
				<p>{{ no_cc|safe }}</p>
			{% endif %}
		</div>

		<div class="col m6 s12">
			<h2>{% translate "Classify an Hemogram" %}</h2>
			{% if classifier_error %}
				<h5>{% translate "Sorry, Classification Service Unavailable." %}</h5>
				<blockquote>
					{{ classifier_error }}
				</blockquote>
			{% elif result %}
				<h5>{% translate "The following Hemogram has been classified as" %} <b>{% translate result %}</b> {% translate "with a probability of" %} {{ result_prob|floatformat:3 }}{% if votes|length > 1 %}{% translate ", given the following votes:" %}
				</h5>
				<dl class="votes">
				{% for vote in votes %}
					<dt>{{ vote }}</dt>
					<dd><b>{% blocktranslate with result=votes|get_item:vote|get_item:"result"|first %}{{ result }}{% endblocktranslate %}</b> {% translate "with a probability of" %} {{ votes|get_item:vote|get_item:"prob"|first|floatformat:3 }}</dd>
				{% endfor %}
				</dl>
				{% else %}:</h5>
				{% endif %}
				{% if image %}
					{{ image }}
					<p class="center-align">
						<a id="svg-new-tab" class="btn-small blue" href="#">{% translate "Open Graph in new Tab" %}</a>
					</p>
				{% endif %}
			{% endif %}

			<form action="" method="post">
				{% csrf_token %}

				{% if dataform.errors %}
					<p class="errorlist">{% translate "Errors detected in the submitted data, check below:" %}</p>
				{% endif %}

				{% include "data/form_classify.html" with dataform=dataform %}

				{% if classifier %}
					{% if classifier.get_local_classifier.is_inferred %}
						{% include "base/includes/submit_button.html" with label="Classify" icon="my_location" %}
					{% else %}
						<p>{{ no_training|safe }}</p>
					{% endif %}
				{% else %}
					<p>{{ no_cc|safe }}</p>
				{% endif %}
			</form>

		</div>

	</div>

{% endblock content %}

{% block extra_js %}
	{{ block.super }}
	<script>
		var svg = document.querySelector("svg");
		if (svg) {
			svg.setAttribute("class", "materialboxed");
			svg.setAttribute("width", "100%");
			svg.setAttribute("height", "100%");
			M.Materialbox.init(svg);
			// https://stackoverflow.com/questions/46203427/open-inline-svg-in-new-window-javascript
			document.getElementById("svg-new-tab").onclick = (evt) => {
		  	  // convert to a valid XML source
			  const as_text = new XMLSerializer().serializeToString(svg);
			  // store in a Blob
			  const blob = new Blob([as_text], { type: "image/svg+xml" });
			  // create an URI pointing to that blob
			  const url = URL.createObjectURL(blob);
			  const win = open(url);
			  // so the Garbage Collector can collect the blob
			  win.onload = (evt) => URL.revokeObjectURL(url);
			};

		};
		
	</script>
{% endblock %}